<div id="<%= dom_id patient %>" class="patient">
  <p>
    <%= patient.first_name %>
    <%= patient.last_name %>
  </p>

  <p>
    <%= link_to "View notes", patient, class: 'view_patient_button' %>
  </p>
</div>
