/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-size: 16px;
}

#patients {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  gap: 1rem;
}

.patient {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.view_patient_button {
  background: purple;
  padding: 0.75rem;
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
}

.patient__notes {
  margin: 2rem 0;
}

.note {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}